Django==6.1
django-filter==26.1
djangorestframework==3.18.1
djangorestframework-simplejwt==5.5.1
drf-spectacular==0.30.0
gunicorn==23.0.0
django-cors-headers==4.4.0
psycopg2-binary==2.9.9
dj-database-url==2.3.0
whitenoise==6.7.0